
<div class="logo-container">
  <img class="logo img-responsive" ng-src="images/Logo.svg"/>
</div>

<div class="view error-view">
  <div class="row">
    <div class="col-sm-12">
    <p>&nbsp;</p>
    <h2 class="text-center">Sorry! There was a problem.</h2>
    <hr>
      <div ng-show="customRedirect">
        <p class="alert">
          You may try to log in using our <a href="{{toRedirectPage}}">alternative login</a> page.<br>
        </p>
      </div>
      <div ng-show="!customRedirect">
        <p class="alert">
          You will be redirected to the <a href="{{toRedirectPage}}">login page</a> after a few moments...<br>
        </p>
      </div>

      &nbsp;&nbsp;&nbsp;&nbsp;
      If this problem persists, please provide this error information to the <a href="mailto:support@equilar.com">support team</a>:
      <div class="well text-center">
        <div class="" ng-repeat="e in errors">
          {{e}}<br>
        </div>
      </div>

    </div>
  </div>
</div>