
<div class="logo-container">
  <img class="logo img-responsive" ng-src="images/Logo.svg"/>
</div>

<div class="view error-view">
  <div class="row">
    <div class="col-sm-12">
    <p>&nbsp;</p>
    <h2 class="text-center">Sorry! There was a problem.</h2>
    <hr>
      <p class="alert">
        Please use your browser's back button to return to the previous page, then try again 
        or visit <a href="http://www.equilar.com/login.html">login page</a>.
        If this problem persists, please provide this error information to the support team:
      </p>

      <div class="well text-center">
        <div class="" ng-repeat="e in errors">
          <strong>{{e}}</strong>
        </div>
      </div>

    </div>
  </div>
</div>